<center><h1>When ready, hit the spacebar</h1></center>
<center><div id="gifbooth"></div></center>
<!-- <a id="take&#45;snapshot" href="#">Click</a> -->
<br>
<center><div style="display:none" id="do-something"><h1>DO SOMETHING!<h1></div></center>
